@model IEnumerable<ImageServiceWebApplication.Models.LogModel.Log>

@{
    ViewBag.Title = "Logs";
    ViewBag.SearchKey = "";
    int i = 0;
}

<div>
    <h3>Search logs by type</h3>
    @using (Html.BeginForm("Logs", "Logs", FormMethod.Post))
        {

        <div>
            <input type="text" id="typeToFind" name="typeToFind">

            <input type="submit" id="submitId" value="submit" />

        </div>

        }

</div>
    <h2>Logs list</h2>
    <table class="table">
        <tr class="not_mapped_style">


            <th width="10" class="not_mapped_style">
                #
            </th>
            <th width="30"class="not_mapped_style">
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th class="not_mapped_style">
                @Html.DisplayNameFor(model => model.Message)
            </th>
        </tr>

        @foreach (var item in Model)
            {
            <tr class="not_mapped_style">
                <td class="not_mapped_style">
                    @{i = (i + 1);
                    }
                    @i
                </td>
                <td class="not_mapped_style">
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td class="not_mapped_style">
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
 
            </trclass="not_mapped_style">}

    </table>
